<script src="/splashpage.js"></script>

<div id="splashpage">
<h2 class="title is-1" id="site-title">Operation Thunderbird</h3>
  <div id="login-form">

    <%= form_tag sessions_path do %>
      <div>
        <form class="login">
          <%= label_tag :name, nil, class: 'label content' %>
          <%= text_field_tag :name, nil, class: 'input' %>
          <br>
          <%= label_tag :password, nil, class: 'label content' %>
          <%= password_field_tag :password, nil, class: 'input' %>
          <br>
          <p class="control">
            <button class="button is-primary">Log In</button>
          </p>
        </form>
      </div>
    <% end %>

  </div>

</div>
