<div class="container is-fluid">
  <!-- <section class="section header"> -->
    <header>
      <!-- Main container -->
      <nav class="navbar">
        <!-- Left side -->
        <div class="navbar-left">
          <div class="navbar-item">
            <h3 class="title is-3">UBC Occupancy Analysis</h3>
          </div>

          <div class="navbar-item tabs is-boxed has-text-centered">
            <ul>
              <li><a href="#graph1">Graph 1</a></li>
              <li><a href="#graph2">Graph 2</a></li>
              <li><a href="#graph3">Graph 3</a></li>
              <li><a href="#graph4">Graph 4</a></li>
              <li><a href="#graph5">Graph 5</a></li>
            </ul>
          </div>
        </div>

        <!-- Right side -->
        <div class="navbar-right">
            <!-- <a class="navbar-item button is-primary">Logout</a> -->
            <p class="navbar-item"><a class="button is-primary">Logout</a></p>
        </div>
      </nav>
    </header>
  <!-- </section> -->

  <!-- Tabs.  Add new tabs as necessary (here, and above in the UL, and then add partials and JS files).  -->
  <div id="graph1">
     <%= render partial: 'graph1', locals: {hello: 'test'} %>
  </div>
  <div id="graph2">
    <%= render partial: 'graph2', locals: {hello: 'test'} %>
  </div>

  <div id="graph3">
    <%= render partial: 'graph3', locals: {hello: 'test'} %>
  </div>

  <div id="graph4">
    <%= render partial: 'graph4', locals: {hello: 'test'} %>
  </div>

  <div id="graph5">
    <%= render partial: 'graph5', locals: {hello: 'test'}  %>
  </div>


</div>
